APP_NAME=Rapid Peach Cargo Driver
APP_IDENTIFIER=com.rapidpeachcargo.driver
APP_LINK_PREFIX=rpcdriver
FLEETBASE_HOST=https://api.rapidpeachcargo.com
FLEETBASE_KEY=
GOOGLE_MAPS_API_KEY=
DEFAULT_COORDINATES=33.749,-84.388

